//mixin grilla - home
@mixin grilla($colum, $row){
    grid-template-columns: $colum;
    grid-template-rows: $row;
    row-gap: 1rem;
    padding: 1rem;
    align-content: center;
}

@mixin img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}