//Paleta cromatica primaria
$color-verde-principal: #23472D;
$color-arena-suave: #F8E4C1;
$color-celeste-caliza: #B8D3D1;

// Paleta Secundaria y Neutros

$color-gris-secundario: #F1F1F1;
$color-blanco: #FFFFFF;
$color-texto-oscuro: #333333;
$color-texto-suave: #555555;
$color-oscuro-texto:#1A1A1A; // Para asegurar la accesibilidad/contraste

// Tipografías
$font-logo:    'Alluring', cursive; 
$font-contenido:   'Unbounded', 'Montserrat', 'Helvetica Neue', sans-serif;

