//Paleta cromatica primaria
$verde-principal: #23472D;
$arena-suave: #F8E4C1;
$celeste-caliza: #B8D3D1;

// Paleta Secundaria y Neutros

$gris-secundario: #F1F1F1;
$blanco: #FFFFFF;
$texto-oscuro: #333333;
$texto-suave: #555555;
$color-oscuro-texto:#1A1A1A; // Para asegurar la accesibilidad/contraste

// Tipografías
$font-logo:    'Alluring', cursive; 
$font-contenido:   'Unbounded', 'Montserrat', 'Helvetica Neue', sans-serif;

