@use "../utilities/variables" as *;
@use "../utilities/mixin" as *;
 
/*Pagina principal*/
// main {
//   margin-top: 80px;
//   height: 80vh;
//   display: grid;
//   @include grilla (1fr, repeat(3, 25%));

//   div img {
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//   }

//   .img-dos,
// main .img-cinco {
//     display: none;
//   }

//   .img-cuatro {
//     grid-row: 2;
//   }
// }

main {
  margin-top: 80px;
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 25%);
  row-gap: 1rem;
  align-content: center;
  padding: 20px;

  div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .img-dos, .img-cinco {
    display: none;
  } 

  .img-cuatro{
    grid-row: 2;
  }
}